.DS_Store
**/.DS_Store
.env
**/.env
.env.backup
.env.production
.phpunit.result.cache
**/.phpunit.result.cache
node_modules/
vendor/
*.tmp
tmp/
*.cache

/rms-app/vendor/
/rms-app/node_modules/
/rms-app/public/hot
/rms-app/public/storage
/rms-app/public/build
/rms-app/storage/*.key
/rms-app/storage/logs/
/rms-app/storage/framework/cache/
/rms-app/storage/framework/sessions/
/rms-app/storage/framework/views/
/rms-app/bootstrap/cache/*.php
/rms-app/SSLCommerz-Laravel-master/
/rms-app/jerin report.pdf

/rms-app/.git/
/rms-app/.git.bak/

